In [38]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('/Users/naweedahmed/Desktop/project_3/pin3/winemag-data_first150k.csv')

In [3]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [4]:
df.describe()

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [5]:
df.country.unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [21]:
continent = []
North_America = ['US','Canada']
Europe = ['Slovakia','Czech Republic','Georgia','Montenegro','Luxembourg','England','Ukraine','Cyprus', 'Lithuania','Switzerland', 'Albania', 'Bosnia and Herzegovina','Serbia','Turkey', 'Macedonia','Spain', 'France', 'Italy', 'Bulgaria','Portugal','Greece', 'Romania', 'Germany',  'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia']
South_America = [ 'Mexico','Brazil','Uruguay','Argentina','Chile']
Oceania = ['New Zealand','Australia']
Asia = ['Japan', 'China', 'South Korea','Israel', 'India', 'Lebanon']
Africa = ['Egypt', 'Tunisia','South Africa', 'Morocco']

In [22]:
def get_cont(c):
    if c in Asia:
        return "Asia"
    elif c in Europe:
        return "Europe"
    elif c in North_America:
        return "North America"
    elif c in Oceania:
        return "Oceania"
    elif c in Africa:
        return "Africa"
    elif c in South_America:
        return "South America"
    else:
        return "Other"
df['continent'] = df['country'].apply(lambda x: get_cont(x))

In [23]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery,continent
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,North America
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez,Europe
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley,North America
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi,North America
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude,Europe

In [24]:
df_other = df[df['continent']=='Other']

In [26]:
len(df_other)

6

In [27]:
df.dropna(subset=['country','price'], inplace=True)
df.reset_index(drop=True, inplace=True)

In [28]:
df.isna().sum()

Unnamed: 0         0
country            0
description        0
designation    42311
points             0
price              0
province           0
region_1       22837
region_2       76526
variety            0
winery             0
continent          0
dtype: int64

In [30]:
df_asia = df[df.continent == 'Asia']['price']

In [31]:
df_africa = df[df.continent == 'Africa']['price']

In [32]:
len(df_asia)

664

In [34]:
df_asia.describe()

count    664.000000
mean      30.588855
std       19.285376
min        7.000000
25%       18.000000
50%       25.000000
75%       39.250000
max      150.000000
Name: price, dtype: float64

In [33]:
len(df_africa)

2249

In [35]:
df_africa.describe()

count    2249.000000
mean       21.118275
std        14.221283
min         5.000000
25%        12.000000
50%        16.000000
75%        25.000000
max       145.000000
Name: price, dtype: float64

In [36]:
sample_asia_price = df_asia.sample(n = 100)

In [37]:
sample_africa_price = df_africa.sample(n=100)